a {
    padding: 20px 20px;
    display: inline-block;
    /* color: rgba(50, 125, 196, 0.89); */
    color: rgba(255, 0, 140, 0.719);
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2em;
    overflow: hidden;
}


/*creating animation effect*/

a:hover {
    color: #111;
    /* background: #39ff14; */
    /* box-shadow: 0 0 30px yellowgreen; */
    box-shadow: 0 0 30px;
}